body {
  background-color: #0f3460;
  color: #ddd;
  font-family: "Oswald", sans-serif;
  margin: 15px;
}
h1 {
  font-size: 40px;
  margin: 40px 0;
}

.candleStickChart {
  background-color: #16213e;
  border: 1px solid #16213e;
  box-sizing: border-box;
  padding: 3rem;
}

.container {
  display: flex;
  justify-content: space-between;
}

.operation-controller {
  background-color: #16213e;
  border-bottom: solid #333 1px;
  margin-bottom: 1rem;
  padding: 0 2px;
  width: 18rem;
}
.operation-controller__button,
.operation-controller__input {
  background-color: #16213e;
  border: none;
  color: #ddd;
  font-size: 15px;
  height: 30px;
  margin: 0;
}

.operation-interface {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  max-width: 20rem;
}
.operation-interface__titulo {
  font-size: 30px;
}

.my-stocks {
  background-color: #0f3460;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 18rem;
}
.my-stock td,
thead th {
  background-color: #16213e;
  box-sizing: border-box;
  margin: 0.1rem;
  min-width: 7rem;
  padding: 5px;
  text-align: center;
  width: 50%;
}

.my-stocks__header {
  font-size: 1.2rem;
}
.my-stocks__body,
.my-stocks__header {
  width: 100%;
}
.my-stocks__body tr,
.my-stocks__header tr {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.available-stocks__button {
  background-color: #16213e;
  border: none;
  color: #ddd;
  padding: 1rem;
  margin: 0.1rem;
}
.available-stocks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 700px;
  overflow: scroll;
  scroll-behavior: smooth;
}
.available-stocks::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 768px) {
  .available-stocks {
    height: 150px;
  }
  .candleStickChart {
    width: 80vw;
    height: auto;
  }
  .container {
    flex-direction: column;
  }
  .container > div {
    margin-top: 5rem;
  }
}
